<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('../partials/head.ejs'); %>
    <link href="./css/style-index.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet" media="all">
    <title>Lycooper</title>
  </head>

  <body>
    <header>
      <%- include('../partials/header.ejs') %>
    </header>
    <body>

    </body>
  </body>
</html>
