<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
    <link href="./css/style-sensores.css" rel="stylesheet">
    <link href="./css/navbar.css" rel="stylesheet">
    <link href="./css/hover.css" rel="stylesheet" media="all">
    <link href="./css/reset.css" rel="stylesheet" media="all">
    <title>Sensores</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs')%>
    </header>
    <main class="container-fluid d-flex flex-column  align-itens-center justify-content-center py-4">
        
        <div id="carouselExampleIndicators" class="carousel slide h-100" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <table class="table table-xl table-dark table-hover text-center">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Referência base</th>
                            <th>Valor medido</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PH</td>
                            <td>null</td>
                            <td>undefined</td>
                            <th>On</th>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </main>
</body>
</html>