<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('../partials/head.ejs')  %> 
    <link href="/css/style-login.css" rel="stylesheet">
</head>
<body>
    <h1><%= title %> </h1>
    <div class="container-main-login">
        <div class="container-left">
            <div class="page-register">
                <h1>Já tem uma conta?</h1>
                <h3>Faça seu Login abaixo!</h3>
                <a href="/"><button type="submit" class="btn btn-success">Login</button></a>
            </div>
        </div>
        <div class="container-right">
            <div class="page-login">
                <h1>Faça seu cadastro abaixo:</h1>
                <form action="/auth/register" method="POST" class="form-login">
                    <div class="textfield">
                        <label class="label" for="user">Usuário</label>
                        <input type="text" placeholder="Usuário" name="name">
                    </div>
                    <div class="textfield">
                        <label class="label" for="email">Email</label>
                        <input type="email" placeholder="example@example.com" name="email">
                    </div>
                    <div class="textfield">
                        <label class="label" for="pass">Senha</label>
                        <input type="password" placeholder="Senha" name="password">
                    </div>
                    <button class="btn btn-dark mt-3" type="reset">Limpar dados</button>
                    <button class="btn btn-success mt-3" type="submit" name="submit">Criar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>